body {
    background-color: #fff;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

hpdisplay {
    background-image: url(../images/lives/fulllife.png);
    height: 29px;
    width: 100px;
}

.hit1 {
    background-image: url(../images/lives/twolife.png);  
}

.hit2 {
    background-image: url(../images/lives/onelife.png);  
}

.hit3 {
    background-image: url(../images/lives/deadlife.png);
}

worm {
    background-image: url(../images/worm.png);
    width: 200px; height: 130px;
}

background {
    background-image: url(../images/background.png);
    width:100%; height: 100%;
    background-size: cover;
}